#linkPhoto{
    padding-right: 5%;  
    padding-left: 5%; 
}

#gif{
    padding-right: 5%; 
}
/* #video{
     padding-left: 90px; 
} */
#hplogo{
    padding-bottom: 5%; 
}
#linkPhoto, gif, video{
    display:inline; 
}