@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	margin: 0 auto;
	width: 150px;
	height: 200px;
	background: url("ears.jpg");
	background-size: 150px;
	/*border: solid;*/

}

button {
	text-align: center;
	border: none;
	padding-top: 5px;
	margin-top: 5px;
	outline: none; 

}

#title {
	background: black;
	height: 30px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-align: center;

}

#default {
	background: url('defaultbutton.png'); 
	background-size:50px 65px; 
	height: 65px;
	width: 50px;
	margin-right: 25px; 
}
#default:hover {
	background: url('defaultBlue.png'); 
	background-size:50px 65px; 
	height: 65px;
	width: 50px;
}

#Tarzan{
	background: url('tarzanbutton.png'); 
	background-size: 45px 65px; 
	height: 65px;
	width: 45px;
}
#Tarzan:hover{
	background: url('greenTarzan.png'); 
	background-size: 45px 65px; 
	height: 65px;
	width: 45px;
}
#Cars{
	background: url('carsBtn.png'); 
	background-size: 70px 37px; 
	height: 37px;
	width: 70px;
}
#Cars:hover{
	background: url('carsRed.png'); 
	background-size: 70px 37px; 
	height: 37px;
	width: 70px;
}
#Tangled{
	background: url('tangledBtn.png'); 
	background-size: 70px 70px; 
	height: 70px; 
	width: 70px; 
}
#Tangled:hover{
	background: url('tangledPurp.png'); 
	background-size: 70px 70px; 
	height: 70px; 
	width: 70px; 
}