@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	margin: 0 auto;
	width: 150px;
	height: 200px;
	background: url("ears.jpg");
	background-size: 150px;
	/*border: solid;*/

}

button {
	text-align: center;
	border: none;
	padding-top: 5px;
	margin-top: 5px;

}

#title {
	background: black;
	height: 30px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-align: center;

}

#default {
	background: url('defaultbutton.png'); 
	background-size:50px 65px; 
	height: 65px;
	width: 50px;
}

#Tarzan{
	background: url('tarzanbutton.png'); 
	background-size: 45px 65px; 
	height: 65px;
	width: 45px;
}
