@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

* {
	margin: 0;
	width: 150px;
	height: 200px;

}

#title {
	background-color: black;
	height: 30px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 18px;
	text-align: center;

}
